## Importing Libraries

In [1]:
import gzip
import pandas as pd
import geopandas as gpd

### Getting data from gzip files

In [2]:
def read_csv_from_gz(gz_file_path, encoding='utf-8'):
    '''
    Read a csv file from a gz file
    ,param: gz_file_path: path to the gz file
    encoding: encoding of the csv file, default is 'utf-8'
    ,return: a pandas dataframe
    '''
    with gzip.open(gz_file_path, 'rt', encoding=encoding) as gz_file:  
        df = pd.read_csv(gz_file)
        return df

df_calender = read_csv_from_gz('calendar.csv.gz')
df_reviews = read_csv_from_gz('reviews.csv.gz', encoding='utf-8')  
df_listings = read_csv_from_gz('listings.csv.gz', encoding='utf-8')

C:\Users\dell\AppData\Local\Temp\ipykernel_16284\1118251602.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(gz_file)

In [3]:
df_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17475,63134,2010-07-10,141807,Zoltan,"Excellent host, beautiful apartment, great loc..."
1,17475,83802,2010-08-24,68687,John,"Luca is very personable, and the views are exa..."
2,17475,98998,2010-09-17,96055,Xiaoyang,I am glad we found Luca's apt for our stay in ...
3,17475,105280,2010-09-26,171084,Amy,I should start by saying we really did not wan...
4,17475,109755,2010-10-02,31238,Mike,Luca was a very gracious host and took efforts...

In [4]:
df_listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17475,https://www.airbnb.com/rooms/17475,20231213195414,2023-12-14,city scrape,Rental unit in 08013 Barcelona · ★4.40 · 1 bed...,NaN,NaN,https://a0.muscache.com/pictures/f6e6718f-dba0...,65623,...,4.68,4.84,4.47,NaN,f,1,1,0,0,0.16
1,18674,https://www.airbnb.com/rooms/18674,20231213195414,2023-12-14,city scrape,Rental unit in Barcelona · ★4.33 · 3 bedrooms ...,NaN,Apartment in Barcelona located in the heart of...,https://a0.muscache.com/pictures/13031453/413c...,71615,...,4.67,4.77,4.28,HUTB-002062,t,30,30,0,0,0.31
2,198958,https://www.airbnb.com/rooms/198958,20231213195414,2023-12-14,city scrape,Rental unit in Barcelona · ★4.69 · 4 bedrooms ...,NaN,"The Illa del Llac complex is a calm, relaxing ...",https://a0.muscache.com/pictures/2977a5e1-e7e4...,971768,...,4.87,4.80,4.67,HUTB-000926,f,9,9,0,0,0.74
3,199794,https://www.airbnb.com/rooms/199794,20231213195414,2023-12-14,city scrape,Rental unit in Barcelona · ★4.80 · 1 bedroom ·...,NaN,The apartment is located in a very safe area a...,https://a0.muscache.com/pictures/21904425/cbb2...,440825,...,4.92,4.89,4.80,Exempt,f,1,0,1,0,1.34
4,23197,https://www.airbnb.com/rooms/23197,20231213195414,2023-12-14,city scrape,Rental unit in Sant Adria de Besos · ★4.77 · 3...,NaN,"Strategically located in the Parc del Fòrum, a...",https://a0.muscache.com/pictures/miso/Hosting-...,90417,...,4.97,4.59,4.64,HUTB005057,f,2,2,0,0,0.48

In [5]:
df_listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [6]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18321 entries, 0 to 18320
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            18321 non-null  int64
 1   listing_url                                   18321 non-null  object
 2   scrape_id                                     18321 non-null  int64
 3   last_scraped                                  18321 non-null  object
 4   source                                        18321 non-null  object
 5   name                                          18321 non-null  object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         10048 non-null  object
 8   picture_url                                   18321 non-null  object
 9   host_id                                       18321 non-null  int64
 10  host_url                                      18321 non-null  object
 11  host_name                                     18319 non-null  object
 12  host_since                                    18319 non-null  object
 13  host_location                                 14128 non-null  object
 14  host_about                                    11562 non-null  object
 15  host_response_time                            15258 non-null  object
 16  host_response_rate                            15258 non-null  object
 17  host_acceptance_rate                          15555 non-null  object
 18  host_is_superhost                             18243 non-null  object
 19  host_thumbnail_url                            18319 non-null  object
 20  host_picture_url                              18319 non-null  object
 21  host_neighbourhood                            9363 non-null   object
 22  host_listings_count                           18319 non-null  float64
 23  host_total_listings_count                     18319 non-null  float64
 24  host_verifications                            18319 non-null  object
 25  host_has_profile_pic                          18319 non-null  object
 26  host_identity_verified                        18319 non-null  object
 27  neighbourhood                                 10048 non-null  object
 28  neighbourhood_cleansed                        18321 non-null  object
 29  neighbourhood_group_cleansed                  18321 non-null  object
 30  latitude                                      18321 non-null  float64
 31  longitude                                     18321 non-null  float64
 32  property_type                                 18321 non-null  object
 33  room_type                                     18321 non-null  object
 34  accommodates                                  18321 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                18311 non-null  object
 37  bedrooms                                      2 non-null      float64
 38  beds                                          18004 non-null  float64
 39  amenities                                     18321 non-null  object
 40  price                                         16056 non-null  object
 41  minimum_nights                                18321 non-null  int64
 42  maximum_nights                                18321 non-null  int64
 43  minimum_minimum_nights                        18321 non-null  int64
 44  maximum_minimum_nights                        18321 non-null  int64
 45  minimum_maximum_nights                        18321 non-null  int64
 46  maximum_maximum_nights                        18321 non-null  int64
 47  minimum_nights_avg_ntm                        18321 non-null  float64
 48  maximum_nights_avg_ntm                        18321 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              16056 non-null  object
 51  availability_30                               18321 non-null  int64
 52  availability_60                               18321 non-null  int64
 53  availability_90                               18321 non-null  int64
 54  availability_365                              18321 non-null  int64
 55  calendar_last_scraped                         18321 non-null  object
 56  number_of_reviews                             18321 non-null  int64
 57  number_of_reviews_ltm                         18321 non-null  int64
 58  number_of_reviews_l30d                        18321 non-null  int64
 59  first_review                                  13952 non-null  object
 60  last_review                                   13952 non-null  object
 61  review_scores_rating                          13959 non-null  float64
 62  review_scores_accuracy                        13956 non-null  float64
 63  review_scores_cleanliness                     13956 non-null  float64
 64  review_scores_checkin                         13952 non-null  float64
 65  review_scores_communication                   13958 non-null  float64
 66  review_scores_location                        13951 non-null  float64
 67  review_scores_value                           13952 non-null  float64
 68  license                                       12404 non-null  object
 69  instant_bookable                              18321 non-null  object
 70  calculated_host_listings_count                18321 non-null  int64
 71  calculated_host_listings_count_entire_homes   18321 non-null  int64
 72  calculated_host_listings_count_private_rooms  18321 non-null  int64
 73  calculated_host_listings_count_shared_rooms   18321 non-null  int64
 74  reviews_per_month                             13952 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 10.5+ MB

In [7]:
df_calender.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,198958,2023-12-14,t,$190.00,NaN,2,365
1,198958,2023-12-15,t,$190.00,NaN,2,365
2,198958,2023-12-16,t,$190.00,NaN,2,365
3,198958,2023-12-17,t,$190.00,NaN,2,365
4,198958,2023-12-18,t,$190.00,NaN,2,365

In [11]:
df_calender[(df_calender['price']!=df_calender['adjusted_price'])&(~df_calender['adjusted_price'].isnull())].count()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

We can See that the adjusted_price is the same as the price, so we can drop the adjusted_price column.

### Getting neighborhoods data

In [9]:
geojson_file_path = 'neighbourhoods.geojson'
gdf = gpd.read_file(geojson_file_path)
geo = pd.DataFrame(gdf)
geo.head()

,neighbourhood,neighbourhood_group,geometry
0,el Raval,Ciutat Vella,"MULTIPOLYGON (((2.17737 41.37532, 2.17852 41.3..."
1,el Barri Gòtic,Ciutat Vella,"MULTIPOLYGON (((2.18287 41.38074, 2.18289 41.3..."
2,la Dreta de l'Eixample,Eixample,"MULTIPOLYGON (((2.17091 41.40182, 2.17332 41.3..."
3,l'Antiga Esquerra de l'Eixample,Eixample,"MULTIPOLYGON (((2.15971 41.38298, 2.15857 41.3..."
4,la Nova Esquerra de l'Eixample,Eixample,"MULTIPOLYGON (((2.14998 41.37559, 2.14982 41.3..."

In [10]:
geo.nunique()  # Display the number of unique values for each column

neighbourhood          73
neighbourhood_group    10
geometry               75
dtype: int64

We can see the data in the neighborhoods.geojson file not important for our analysis, so we can drop it as the important data is in the listings.csv file.